{% extends 'navbar.html' %}
{% load static %}

{% block head %}

<title>Multi-Room Schedule</title>

{% endblock %}


{% block content %}
<div class="row h-100 w-100 p-4">
    <div class="col-xl-8 offset-xl-1 col-md-12 h-100 p-0 mx-auto mt-5 overflow-auto">
        <div class="row w-100 h-100 m-0">
            {% for room, meeting_list in list %}
                <div class="col-4 h-33 border border-secondary">
                    <div class="h6 text-dark mb-1 mt-1 font-weight-bold w-75 mx-auto">{{room.public_name}}</div>
                        <div class="h-75 overflow-auto">
                            {% for meeting in meeting_list %}
                                <div class="list-group-item border-secondary w-75 p-1 mx-auto {{meeting.background_colour}}">
                                    <span class="float-left h-6">{{meeting.start_time_str}} - {{meeting.end_time_str}}</span>
                                    <span class="ml-4 h-6">{{meeting.name}}</span>    
                                </div>

                            {% empty %}
                                <span class="w-100 text-center h5 text-dark mt-3">Could not load meetings</span>
                            {% endfor %}
                        </div>  
                </div>
            {% empty %}
                <span class="w-100 text-center h2 text-dark mt-3">No Meeting rooms</span>
            {% endfor %}
        </div>
    </div>

</div>
{%endblock%}
