{% extends 'statistics_template.html' %}
{% load static %}
{% load widget_tweaks %}


{% block statistics-head %}
    <title>Room Utilization Statistics</title>
    <script src="{% static 'js/statistics/room_utilization.js' %}"></script>
{% endblock %}

{% block statistics-content %}
<div class="w-100 h-100">
    <div class="text-center mb-5">
        <label class="mb-1 text-dark w-100">Choose a Room:</label>
        {% render_field form.room class="form-control w-25 mx-auto" %}
    </div>

    <!-- Use non-responsive charts as they bug-out and stretch indefinitely. -->
    <div class="w-50 mx-auto">
        <canvas id="chart_daily" height="400" width="600" class="mt-5 mb-5"></canvas>
    </div>

    <div class="w-50 mx-auto">
        <canvas id="chart_weekly" height="400" width="600" class="mt-5 mb-5"></canvas>
    </div>

    <div class="w-50 mx-auto">
        <canvas id="chart_monthly" height="400" width="600" class="mt-5 mb-5"></canvas>
    </div>
</div>

{{daily_utilization|json_script:"daily_util"}}
{{weekly_utilization|json_script:"weekly_util"}}
{{monthly_utilization|json_script:"monthly_util"}}

{% endblock %}