{% extends 'statistics_template.html' %}
{% load static %}
{% load widget_tweaks %}


{% block statistics-head %}
    <title>Room Busiest Hours Statistics</title>
    <script src="{% static 'js/statistics/room_busiest_hours.js' %}"></script>
{% endblock %}


{% block statistics-content %}
<div class="w-100 h-100">
 
    <!-- Use non-responsive charts as they bug-out and stretch indefinitely. -->
    <div class="w-50 mx-auto">
        <canvas id="chart_daily" height="400" width="600" class="mt-5 mb-5"></canvas>
    </div>

    <div class="w-50 mx-auto">
        <canvas id="chart_weekly" height="400" width="600" class="mt-5 mb-5"></canvas>
    </div>

    <div class="w-50 mx-auto">
        <canvas id="chart_monthly" height="400" width="600" class="mt-5 mb-5"></canvas>
    </div>
</div>

{{hours_daily|json_script:"busy_hours_daily"}}
{{hours_weekly|json_script:"busy_hours_weekly"}}
{{hours_monthly|json_script:"busy_hours_monthly"}}


{% endblock %}