{% extends 'navbar.html' %}
{% load static %}

{% block head %}

    <title>Dashboard</title>

{% endblock %}


{% block content %}
<div class="content w-100 h-100 d-flex">
    <div class="col-7 h-75 mx-auto align-self-center">
        <div class="card h-100 min-width-400">
            <div class="card-body border border-secondary">
                <div class="w-100 h-25">
                    <div class="w-100 h-25">
                        <span class="h5 text-secondary font-weight-bold">Account Management</span>
                    </div>

                    <div class="w-100 h-75 text-center">
                       <button class="btn btn-primary m-1" onclick='location.href="{%url 'registration_link' %}"'>Create Registration Link</button>
                       <button class="btn btn-primary m-1" onclick='location.href="{%url 'trigger_forgotten_password' %}"'>Trigger Password Reset</button>
                       <button class="btn btn-primary m-1" onclick='location.href="{%url 'delete_user' %}"'>Delete a User</button>
                    </div>
                </div>
                <hr class="bg-secondary">
                <div class="w-100 h-25">
                    <div class="w-100 h-25">
                        <span class="h5 text-secondary font-weight-bold">Room Management</span>
                    </div>

                    <div class="w-100 h-75 text-center">
                            <button class="btn btn-primary m-1" onclick='location.href="{%url 'create_room' %}"'>Create a Room</button>
                            <button class="btn btn-primary m-1" onclick='location.href="{%url 'edit_room' %}"'>Edit a Room</button>     
                            <button class="btn btn-primary m-1" onclick='location.href="{%url 'delete_room' %}"'>Delete a Room</button>     
                    </div>
                </div>
                <hr class="bg-secondary">
                <div class="w-100 h-33">
                    <div class="w-100 h-25">
                        <span class="h5 text-secondary font-weight-bold">Location and System Management</span>
                    </div>

                    <div class="w-100 h-75 text-center">
                            <button class="btn btn-primary m-1" onclick='location.href="{%url 'create_building' %}"'>Create a Building</button>
                            <button class="btn btn-primary m-1" onclick='location.href="{%url 'delete_building' %}"'>Delete a Building</button>
                            <button class="btn btn-primary m-1" onclick='location.href="{%url 'edit_building' %}"' >Edit a Building</button>
                            <button class="btn btn-primary m-1" onclick='location.href="{%url 'edit_floor' %}"' >Edit a Floor</button>
                            <button class="btn btn-primary m-1" onclick='location.href="{%url 'configure_floors' %}"'>Configure Building Floors</button>     
                            <button class="btn btn-primary m-1" onclick='location.href="{%url 'near_buildings' %}"'>Near Buildings</button>
                            <button class="btn btn-primary m-1" onclick='location.href="{%url 'system_constants' %}"'>System Constants</button>     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}