{% extends 'navbar.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
    <title>Edit Account</title>
{% endblock %}


{% block content %}
<div class="content w-100 h-100 d-flex">
    <div class="row w-100 h-75 p-0 m-0 align-self-center">
        <div class="col-lg-5 col-md-6 mx-auto h-100">
            <form action="{% url 'edit_account_info' %}" method="POST">
                {% csrf_token %}
                <div class="card w-60 mx-auto align-self-center min-width-400">
                    <span class="card-header bg-primary text-white text-center h4">
                        Account Info
                    </span>

                    <div class="card-body bg-white">
                        <div class="w-60 m-auto">
                            {% for field in info_form %}
                                <div class="form-row p-2">
                                    <label class="mb-1 text-dark w-100">{{field.label}}</label>
                                    {% render_field field class="form-control" %}
                                </div>
                            {% endfor %}

                            <div class="text-right">
                                <button class="btn btn-primary mt-2">Edit</button>
                            </div>

                                
                            {% if messages %}
                                <div>
                                    {% for message in messages %}
                                        {% if "account_info" in message.tags %}
                                            <div class="mt-3">
                                                <span class="font-weight-bold text-dark">{{ message }}</span>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-lg-5 col-md-6 mx-auto h-100">
            <form action="{% url 'edit_account_sensitive_info' %}" method="POST">
                {% csrf_token %}
                <div class="card w-60 mx-auto align-self-center min-width-400">
                    <span class="card-header bg-primary text-white text-center h4">
                        Account Sensitive Info
                    </span>

                    <div class="card-body bg-white">
                        <div class="w-60 m-auto">
                            {% for field in sensitive_info_form %}
                                <div class="form-row p-2">
                                    <label class="mb-1 text-dark w-100">{{field.label}}</label>
                                    {% render_field field class="form-control" %}
                                </div>
                            {% endfor %}

                            <div class="text-right">
                                <button class="btn btn-primary mt-2">Edit</button>
                            </div>

                                
                            {% if messages %}
                            <div>
                                {% for message in messages %}
                                    {% if "sensitive_account_info" in message.tags %}
                                        <div class="mt-3">
                                            <span class="font-weight-bold text-dark">{{ message }}</span>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}