{% extends 'navbar.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
    <title>Dashboard</title>
{% endblock %}


{% block content %}
<div class="content w-100 h-100 bg-danger">
  <div class="row w-100 h-100">
        <div class="col-sm-10 h-100 bg-info">
            <div class="h-25 text-center d-flex align-items-center">
                <div class="h1 w-100">Free</div>
            </div>

            <div class="h-75 bg-secondary">
                
            </div>
        </div>

        <div class="col-sm-2 bg-dark">
            <button class="btn btn-primary btn-sm mt-5 button-circle bg-green text-dark">
                Book Now
            </button>

            <button class="btn btn-primary btn-sm mt-4 button-circle bg-yellow text-dark">
                Nearest Room
            </button>

            <button class="btn btn-primary btn-sm mt-4 button-circle bg-danger">
                Cancel Meeting
            </button>

         

        </div>
  </div>
</div>

{% endblock %}