{% extends 'navbar.html' %}
{% load static %}

{% block head %}

<title>Dashboard</title>

{% endblock %}


{% block content %}
    <div class="row h-100">
        <div class="col-md-3 col-xl-2 px-4 ml-4">
            <div class="mx-auto mt-5">
                <h4 class="text-black-50 font-weight-bold">Actions</h4>
            </div>

            <div class="nav flex-column ml-3">
                <div class="nav-item container-fluid">
                    <a href="{% url 'book_room'%}" class="nav-link text-dark bg-light">Book a Room</a>
                </div>

                <div class="nav-item container-fluid">
                    <a href="#" class="nav-link text-dark bg-light">Cancel Booking</a>
                </div>

                <div class="nav-item container-fluid">
                    <a href="#" class="nav-link text-dark bg-light">Edit Account</a>
                </div>
            </div>

            <div class="w-100 mx-auto mt-4">
                <h4 class="text-black-50 font-weight-bold">Queries</h4>
            </div>

            <div class="nav flex-column ml-3">
                <div class="nav-item container-fluid">
                    <a href="#" class="nav-link text-dark bg-light">Room Schedule</a>
                </div>

                <div class="nav-item container-fluid">
                    <a href="#" class="nav-link text-dark bg-light">Multi-Room Schedule</a>
                </div>

                <div class="nav-item container-fluid">
                    <a href="#" class="nav-link text-dark bg-light">Usage Statistics</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 bg-secondary">
            
        </div>

    </div>
{%endblock%}
