{% extends 'navbar.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
    <title>Book Now</title>
{% endblock %}


{% block content %}
<div class="content w-100 h-100">
    <div class="row w-100 h-100 p-0 m-0">
        <form action="" method="POST" class="col-xl-3 col-lg-4 col-md-6 col-sm-7 col-xs-7 mx-auto d-flex">
            {% csrf_token %}

            {% if profile %}
                <input type="hidden" name="id" value="{{profile.id}}"/>
            {% endif %}

            <div class="card align-self-center">
                <span class="card-header bg-primary text-white text-center h4">
                    {% if profile %}
                    Book {{ profile.public_name }}
                    {% else %}
                    Book Room Now
                    {% endif %}
                </span>
                
                <div class="card-body bg-white">
                    <div class="w-60 m-auto">
                        {% for field in form %}
                            <div class="form-row p-2">
                                <label class="mb-1 text-dark w-100">{{field.label}}</label>
                                {% render_field field class="form-control" %}
                            </div>
                        {% endfor %}
                        
                        <div class="text-right">
                            <button class="btn btn-primary mt-2">Book</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        {% if messages %}
            <div class="col-sm-5 col-xs-5 w-100 h-100 d-flex">
                {% for message in messages %}
                    <div class="align-self-center alert {% if 'error' in message.tags %} alert-danger {% else %} alert-success {% endif %} mt-2 w-75 text-center mx-auto">
                        {{message}}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}