{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Log In Page</title>
{% endblock %}


{% block body %}
<h1>Log In</h1>
<form action="." method="POST">
    {% csrf_token %}
    <table>
        {% for field in form %}
        <tr> 
            <td>{{field.label}}</td> 
            <td>{{field}}</td>
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Log In" />
   
    {% if messages %}
    <div>
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
</form>


{% endblock %}