{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
    <title>Log In Page</title>
{% endblock %}


{% block body %}
<div class="w-100 h-100">
    <div class="content w-100 h-100 d-flex">
        <div class="row w-100 h-100 p-0 m-0">
            <form action="" method="POST" class="col-lg-3 col-sm-10 mx-auto">
                {% csrf_token %}
                <!-- Offset height on PC, but not on mobile. -->
                <div class="w-100 h-12 bg-transparent d-sm-none d-md-block"></div>

                <div class="card">
                    <span class="card-header bg-primary text-white text-center h4">
                        Log In
                    </span>
                    
                    <div class="card-body bg-white">
                        <div class="w-60 m-auto">
                            {% for field in form %}
                                <div class="form-row p-2">
                                    <label class="mb-1 text-dark w-100">{{field.label}}</label>
                                    {% render_field field class="form-control" %}
                                </div>
                            {% endfor %}
                            
                            <div class="text-right">
                                <button class="btn btn-primary mt-2">Login</button>
                            </div>

                            <div class="mt-4">
                                <span>Don't have an account? <a href="{% url 'register' %}">Register here</a></span>
                            </div>
                            
                            {% if messages %}
                            <div class="mt-3">
                                {% for message in messages %}
                                    <span class="font-weight-bold text-dark">{{ message }}</span>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>

                    </div>
                </div>
              
            </form>
        </div>
    </div>
</div>
{% endblock %}