{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
    <title>Log In Page</title>
{% endblock %}


{% block body %}
<div class="w-100 h-100">
    <div class="content w-100 h-100 d-flex">
        <div class="row w-100 h-100 p-0 m-0">
            <form action="" method="POST" class="col-xl-3 col-lg-4 col-md-6 col-sm-8 col-xs-10 mx-auto">
                {% csrf_token %}

                
                <div class="w-100 h-6 bg-transparent"></div>
                <!-- Offset height on PC, but not on mobile. -->
                <div class="w-100 h-6 bg-transparent d-sm-none d-md-block"></div>

                <div class="card">
                    <span class="card-header bg-primary text-white text-center h4">
                        Log In
                    </span>
                    
                    <div class="card-body bg-white">
                        <div class="w-60 m-auto">
                            {% for field in form %}
                                <div class="form-row p-1">
                                    <label class="mb-1 text-dark w-100">{{field.label}}</label>
                                    {% render_field field class="form-control" %}
                                </div>
                            {% endfor %}
                            
                            <div class="text-right">
                                <button class="btn btn-primary mt-2">Login</button>
                            </div>
                        </div>

                    </div>
                </div>
              
                {% if messages %}
                    <div class="mt-2 w-100">
                        {% for message in messages %}
                            <div class="alert {% if 'error' in message.tags %} alert-danger {% else %} alert-success {% endif %} mt-2 w-75 text-center mx-auto">
                                {{message}}
                            </div>
                        {% endfor %}
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}