{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
    <title>Register Page</title>
{% endblock %}


{% block body %}
<div class="w-100 h-100">
    <div class="content w-100 h-100">
        <div class="row h-100 w-100 p-0 m-0">
            <form action="" method="POST" class="col-xl-3 col-lg-4 col-md-6 col-sm-8 col-xs-10 mx-auto">
                {% csrf_token %}

                <!-- Offset height on PC and mobile portrait, but not landscape. -->
                <div class="w-100 h-12 bg-transparent d-none d-sm-block"></div>

                <div class="card">
                    <span class="card-header bg-primary text-white text-center h4">
                        Register
                    </span>
                    
                    <div class="card-body bg-white">
                        <div class="w-60 m-auto">
                            {% for field in form %}
                                <div class="form-row p-1">
                                    <label class="mb-1 text-dark w-100">{{field.label}}</label>
                                    {% render_field field class="form-control" %}
                                </div>
                            {% endfor %}
                            
                            <div class="text-right">
                                <button class="btn btn-primary mt-2">Register</button>
                            </div>

                            <div>
                                <a href="{% url 'login' %}">Back to Login</a>
                            </div>
                            
                            <div>
                                {% for field in form %}
                                    <p>{{field.errors}}</p>
                                {% endfor%}
                            </div>

                        </div>

                    </div>
                </div>
              
            </form>
        </div>
    </div>
</div>

{% endblock %}