{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
<title>Register Page</title>
{% endblock %}


{% block body %}
<div class="w-100 h-100">
    <div class="content w-100 h-100 d-flex">
        <div class="row h-75 w-50 align-self-center mx-auto">
            <form action="" method="POST" class="col-md-10 col-lg-7 mx-auto">
                {% csrf_token %}
                <div class="card min-width-400">
                    <span class="card-header bg-primary text-white text-center h4">
                        Register
                    </span>
                    
                    <div class="card-body bg-white">
                        <div class="w-60 m-auto">
                            {% for field in form %}
                                <div class="form-row p-2">
                                    <label class="mb-1 text-dark w-100">{{field.label}}</label>
                                    {% render_field field class="form-control" %}
                                </div>
                            {% endfor %}
                            
                            <div class="text-right">
                                <button class="btn btn-primary mt-2">Register</button>
                            </div>

                            <div>
                                <a href="{% url 'login' %}">Back to Login</a>
                            </div>
                            
                            <div>
                                {% for field in form %}
                                    <p>{{field.errors}}</p>
                                {% endfor%}
                            </div>

                        </div>

                    </div>
                </div>
              
            </form>
        </div>
    </div>
</div>

{% endblock %}