{% extends 'navbar.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}

    <title>Configure Floors</title>
    <script src="{% static 'js/configure_floors.js' %}"></script>

{% endblock %}

{% block content %}
<div class="content w-100 h-100 d-flex">
    <div class="row h-75 w-50 align-self-center mx-auto">
        <div class="w-50 mx-auto">

            <div class="p-3">
                <label class="h5 mb-1 text-dark w-100">Choose a Building:</label>
                {% render_field form.building class="form-control w-75" %}
            </div>

            <h5 class="h5 ml-3 mb-3 text-dark w-100">Floors (Highest on Top):</h5>
            <div id="floors" class="h-85 p-3 bg-info">
                <!-- Populated by JavaScript. -->
            </div>

            <div class="mt-2">
                <button class="btn btn-primary float-right">Save Floors</button>
                <button class="btn btn-primary float-right mr-3">Add Floor</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}