{% extends 'navbar.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}

    <title>Configure Floors</title>
    <script src="{% static 'js/fading_alert.js' %}"></script>
    <script src="{% static 'js/configure_floors.js' %}"></script>

{% endblock %}

{% block content %}
<div class="modal fade" id="add_floor_prompt" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        
            <div class="modal-header">
                <h5 class="modal-title text-dark">Choose Floor Name</h5>
            </div>
            
            <div class="modal-body">
                <textarea id="floor_name_textarea" class="form-control" rows="1" style="resize: none;" required></textarea>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="add_floor" type="button" class="btn btn-primary">Add Floor</button>
            </div>
      
        </div>
    </div>
</div>

<div class="content w-100 h-100 d-flex">
    <div class="row h-75 w-50 align-self-center mx-auto">
        <div class="h-100 w-50 min-width-400 mx-auto">

            <div class="p-3">
                <label class="h5 mb-1 text-dark w-100">Choose a Building:</label>
                {% render_field form.building class="form-control w-75" %}
            </div>

            <h5 class="h5 ml-3 mb-3 text-dark w-100">Floors (Highest on Top):</h5>
            <div id="floors" class="h-75 w-100 p-3 overflow-auto">
                <!-- Populated by JavaScript. -->
            </div>

            <div class="mt-2 text-right">
                <button id="cancel_changes" class="btn btn-primary">Cancel</button>
                <button id="add_floor_prompt_button" type="button" class="btn btn-primary " data-toggle="modal" data-target="#add_floor_prompt">Add Floor</button>
                <button id="save_floors" class="btn btn-primary">Save Floors</button>
            </div>

            <div id="alert_holder" class="mt-4 w-100 content">
                <!-- <div class="alert alert-primary">Hello world</div> -->
            </div>
        </div>
    </div>
</div>

{% csrf_token %}
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>

{% endblock %}