{% extends 'navbar.html' %}
{% load static %}

{% block head %}

    <title>Create a Room</title>

{% endblock %}

{% block content %}
<div class="content w-100 h-100 d-flex">
    <div class="row h-75 w-50 align-self-center mx-auto">
        <form action="" method="POST" class="mx-auto col-md-10 col-lg-7">
            {% csrf_token %}
            <div class="card">
                <h4 class="card-header bg-primary text-white text-center">Create a Room</h4>
                <div class="card-body">

                 <div class="w-75 m-auto">
                        <div class="form-row">
                            <label class="mb-1 text-dark" for="room_name">Room Name</label>
                            <input type="text" class="form-control" id="room_name">
                        </div>
    
                        <div class="form-row mt-3">
                            <label class="mb-1" for="room_capacity">Capacity</label>
                            <input type="number" class="form-control" id="room_capacity" value="1" min="1" step="1" oninput="validity.valid||(value='');">
                        </div>

                        <input type="button" class="btn btn-primary mt-3 float-right" value="Create">
                 </div>

                </div>
            </div>

      
        </form>
    </div>
</div>
{% endblock %}