{% extends 'navbar.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}

    <title>Create a Room</title>

{% endblock %}

{% block content %}
<div class="content w-100 h-100 d-flex">
    <div class="row h-75 w-50 align-self-center mx-auto">
        <form action="{% url 'create_room' %}" method="POST" class="mx-auto col-md-10 col-lg-7">

            {% csrf_token %}
            <div class="card">
                <span class="card-header bg-primary text-white text-center h4">Create a Room</span>
                <div class="card-body">

                 <div class="w-75 m-auto">
                        <div class="form-row">
                            <label class="mb-1 text-dark" for="username">Room Name / Username</label>
                            {% render_field form.username class="form-control" %}
                        </div>

                        <!-- all fields without the first and the last one -->
                        {% for field in form.visible_fields|slice:"1:-1" %}
                            <div class="form-row mt-3">
                                <label class="mb-1 text-dark">{{field.label}}</label>
                                {% render_field field class="form-control" %}
                            </div>
                        {% endfor %}

                        <button class="btn btn-primary mt-3 float-right">Create</button>
                 </div> 

                </div>
            </div>
            
            <div>
                {% for field in form %}
                    <p>{{field.errors}}</p>
                {% endfor%}
            </div>
            {% if messages %}

            <div>
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}

        </form>
    </div>
</div>
{% endblock %}