{% extends 'navbar.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
    <title>Delete This Account</title>
    <script src="{% static 'js/delete_admin.js' %}"></script>

{% endblock %}

{% block content %}
<div class="modal fade" id="delete_confirm_dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        
            <div class="modal-header">
                <h5 class="modal-title text-dark">Are you sure?</h5>
            </div>
            
            <div class="modal-body">
                <span class="h6 text-dark">Are you sure you want to delete your account? </span>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="delete_admin_prompt" type="button" class="btn btn-primary">Delete This Acccount</button>
            </div>
      
        </div>
    </div>
</div>

<div class="content w-100 h-100 d-flex">
    <div class="row h-75 w-50 align-self-center mx-auto">
        <form action="{% url 'delete_admin' %}" method="POST" class="mx-auto col-md-10 col-lg-7" autocomplete="off">
            {% csrf_token %}
            <div class="card min-width-400">
                <span class="card-header bg-danger text-white text-center h4">Delete This Account</span>
                <div class="card-body">

                 <div class="w-60 m-auto">
                        {% for field in form.visible_fields %}
                            <div class="form-row mt-3">
                                <label class="mb-1 text-dark">{{field.label}}</label>
                                {% render_field field class="form-control" autocomplete="new-password" %}
                            </div>
                        {% endfor %}

                     <div class="text-right mt-3">
                         <button type="submit" id="delete_admin_button" class="btn btn-primary mr-3 invisible">Remove Account</button>
                         <button type="button" class="btn btn-danger unfocus-click" data-toggle="modal" data-target="#delete_confirm_dialog">Delete Account</button>
                     </div>
                 </div> 

                </div>
            </div>
            
            <div class="mt-4 w-100">
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger mt-2 w-75 text-center mx-auto">
                            {{error}}
                        </div>
                    {% endfor %}
                {% endfor%}
            </div>

         <div id="alert_holder" class="w-100 mt-3 min-width-400">
                {% if messages %}
                    <div class="mt-4 w-100">
                        {% for message in messages %}
                            <div class="alert {% if 'error' in message.tags %} alert-danger {% else %} alert-success {% endif %} mt-2 w-75 text-center mx-auto">
                                {{message}}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
         </div>

        </form>
    </div>
</div>
{% endblock %}