{% extends 'navbar.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}

    <title>Configure Near Buildings</title>

{% endblock %}

{% block content %}
<!-- <div class="modal fade" id="add_floor_prompt" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        
            <div class="modal-header">
                <h5 class="modal-title text-dark">Choose Floor Name</h5>
            </div>
            
            <div class="modal-body">
                <textarea id="floor_name_textarea" class="form-control" rows="1" style="resize: none;" required></textarea>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="add_floor" type="button" class="btn btn-primary">Add Floor</button>
            </div>
      
        </div>
    </div>
</div> -->

<div class="content w-100 h-100 d-flex bg-info">
    <div class="row h-75 w-50 align-self-center mx-auto bg-danger">
        
    </div>
</div>
{% endblock %}