{% extends 'navbar.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}

    <title>Configure Near Buildings</title>
    <script src="{% static 'js/fading_alert.js' %}"></script>
    <script src="{% static 'js/near_buildings.js' %}"></script>


{% endblock %}

{% block content %}
<div class="modal fade" id="confirm_delete" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        
            <div class="modal-header">
                <h5 class="modal-title text-dark">Confirm delete</h5>
            </div>

            <div class="modal-body">
                <p id="confirm_delete_text">Do you want to delete the pair?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="delete_pair" type="button" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>


<div class="content w-100 h-100 d-flex">
    <div class="row h-85 w-50 align-self-center mx-auto">

        <div class="col-10 m-auto h-100 min-width-400">
            <div class="w-100 text-dark h3 text-center pb-2">
                Buildings In Close Proximity
            </div>

            <div class="w-100 h-100">
                <div id="pairs_holder" class="w-100 h-55 p-2 overflow-auto">
                    {% for building1,building2,is_direct in  nearby_buildings %}
                        {% if is_direct %}
                            <div id="{{building1.id}}_{{building2.id}}_div" class="text-center p-2">
                                <span id="{{building1.id}}_{{building2.id}}_pair" class="h5 text-dark font-weight-bold">{{building1}} - {{building2}}</span>
                                <span class="cursor-pointer" onclick="crossClicked('{{building1.id}}', '{{building2.id}}')"><i class="text-danger fas fa-times-circle fa-lg"></i></span>
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% if shouldInfer %}
                        <hr class="bg-secondary w-75">
                        {% for building1,building2,is_direct in  nearby_buildings %}
                            {% if not is_direct %}
                                <div class="text-center p-2" name="inferred">
                                    <span class="h5 text-dark font-weight-bold">{{building1}} - {{building2}}</span>
                                    <span class="ml-2 font-italic">(inferred)</span>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                </div>
                
                <form action="{% url 'near_buildings' %}" method="POST">
                    {% csrf_token %}

                    <div class="card w-100 mt-5">
                        <div class="card-header w-100 text-dark h4 text-center bg-light-gray">Add A Near-Buildings Pair:</div>
                        <div class="card-body row p-4">
                            <div class="col-4 offset-2">
                                <label class="mb-1 text-dark w-100">{{form.building1.label}}</label>
                                {% render_field form.building1 class="form-control" %}
                            </div>
    
                            <div class="col-4">
                                <label class="mb-1 text-dark w-100">{{form.building2.label}}</label>
                                {% render_field form.building2 class="form-control" %}
                            </div>
                            <div class="col-2"></div>
    
                            <div class="text-right col-10 mt-3">
                                <button class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </div>


                    <div id="alert_holder" class="w-100 mt-3">
                        {% if messages %}
                            <div class="mt-4 w-100">
                                {% for message in messages %}
                                    <div class="alert {% if 'error' in message.tags %} alert-danger {% else %} alert-success {% endif %} mt-2 w-75 text-center mx-auto">
                                        {{message}}
                                    </div>
                                {% endfor %}
                            </div>
                         {% endif %}
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>

{% csrf_token %}
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>

{% endblock %}