{% extends 'navbar.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}

    <title>System Constants</title>
    <script src="{% static 'js/fading_alert.js' %}"></script>
    <script src="{% static 'js/system_constants.js' %}"></script>

{% endblock %}


{% block content %}
<div class="content w-100 h-100 d-flex">
    <div class="col-7 h-75 mx-auto align-self-center">
        <div class="card h-100">
            <div class="card-body border border-secondary min-width-600">
                
                <div class="w-100 h-50">
                    <div class="w-100">
                        <span class="h5 text-secondary font-weight-bold">Meeting Room Distance</span>
                    </div>

                    <div class="w-100 h-25">
                       <div class="w-100 text-secondary mt-1">The distance between a user's location and the booked room should at most be:</div>
                       
                       <form action="{% url 'system_constants' %}" method="POST">
                           {% csrf_token %}

                            <div class="row ml-3">
                                <div class="col-xl-4 col-6 mt-3">
                                    <label class="mb-1 text-secondary w-100 h6">Distance:</label>
                                    <div class="">
                                        {% render_field meeting_form.type class="form-control"%}
                                    </div>
                                </div>

                                <div id="floors_holder" class="col-xl-2 col-3 mt-3">
                                    <label class="mb-1 text-secondary w-100 h6">Floors:</label>
                                    <div>
                                        {% render_field meeting_form.floors class="form-control"%}
                                    </div>
                                </div>
                            </div>

                            <div id="infer_holder" class="ml-3 row">
                                    <div class="align-items-end d-inline-flex ml-3 mt-2">
                                     {% render_field meeting_form.infer_nearby_buildings class="form-control unfocus-click" style="width:20px; height=20px;"%}
                                    <span class="h6 ml-2">Infer Nearby Buildings 
                                    <i class="far fa-question-circle fa-md ml-1" data-toggle="tooltip" data-placement="right" 
                                    title="The system will automatically infer nearby buildings based on the provided pairs.
                                    If building 'A' is close to building 'B', and building 'B' is close to building 'C',
                                    then the system will infer that building 'A' is also close to building 'C'.
                                    You will still be able to add the 'A - C' pair manually, even if it is already inferred."></i>
                                </span>
                                    
                                </div> 
                            </div>

                            <div class="ml-3 row">
                                <div class="w-100 ml-3">
                                    <button class="btn btn-primary mt-3 ml-2 mr-5 float-right">Save</button>
                                    <button id="cancel_button_room_distance" type="button" class="btn btn-primary mt-3 unfocus-click float-right">Cancel</button>
                                </div>
                            </div>

                       </form>
                    </div>
                </div>


                <hr class="bg-secondary">
                <div class="w-100 h-50">
                    <div class="w-100">
                        <span class="h5 text-secondary font-weight-bold">Working Hours (24h format)</span>
                    </div>

                    <form action="{% url 'system_constants' %}" method="POST" class="mt-4">
                        {% csrf_token %}
                        <div class="row ml-3">
                            <div class="col-6 text-center">
                                <span class="text-secondary h5 font-italic">Start time:</span>
                                
                                <div class="form-row mt-3 justify-content-center">
                                    <label class="mt-auto text-secondary">Hour:</label>
                                    {% render_field working_hours_form.start_work_hour class="form-control col-sm-3 col-lg-2 ml-1" %}
                                
                                    <label class="mt-auto text-secondary ml-3">Min:</label>
                                    {% render_field working_hours_form.start_work_minute class="form-control col-sm-3 col-lg-2 ml-1" %}
                                </div>
                            </div>

                            <div class="col-6 text-center">
                                <span class="text-secondary h5 font-italic">End time:</span>
                                
                                <div class="form-row mt-3 justify-content-center">
                                    <label class="mt-auto text-secondary">Hour:</label>
                                    {% render_field working_hours_form.end_work_hour class="form-control col-sm-3 col-lg-2 ml-1" %}
                                
                                    <label class="mt-auto text-secondary ml-3">Min:</label>
                                    {% render_field working_hours_form.end_work_minute class="form-control col-sm-3 col-lg-2 ml-1" %}
                                </div>
                            </div>
                        </div>


                        <div class="w-100 ml-3">
                            
                            <button class="btn btn-primary mt-4 ml-2 mr-5 float-right">Update</button>
                            <button id="cancel_button_work_hours" type="button" class="btn btn-primary mt-4 unfocus-click float-right">Cancel</button>

                        </div>
                    </form>
                </div>


            </div>
        </div>
        <div class="w-100 h-25">
            {% if messages %}
                <div class="mt-4 w-100">
                    {% for message in messages %}
                        <div class="alert {% if 'error' in message.tags %} alert-danger {% else %} alert-success {% endif %} mt-2 w-75 text-center mx-auto">
                            {{message}}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

    </div>
</div>

<script>
    const SHOULD_SHOW_FLOORS_ID = "{{number_floors}}";
    const SHOULD_SHOW_INFER_ID = "{{near_buildings}}";
</script>
{% endblock %}