{% extends 'base.html' %}


{% block body %}
<div class="w-100 h-100 d-flex flex-column">
    <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">   
        <div class="container px-4">
            <!-- left side -->
            <ul class="navbar-nav mr-auto">
                <li class="navbar-brand">
                    {% if username %}
                        {{username}}
                    {% else %}
                        Room Manager
                    {% endif %}
                </li>
            </ul>

            <!-- right side -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{% url 'dashboard'%}" class="nav-link">Dashboard</a>
                </li>
        
                <li class="nav-item">
                    <a href="{% url 'logout'%}" class="nav-link">Log Out</a>
                </li>
        
            </ul>
        </div>
    </nav>

    <div class="container-fluid h-100">
        {% block content %}
        {% endblock content %}    
    </div>
</div>
{% endblock body %}