{% extends 'base.html' %}


{% block body %}
<div class="w-100 h-100 d-flex flex-column">
    <nav class="navbar navbar-expand navbar-light bg-white shadow-sm">   
        <div class="container px-4">
            <!-- left side -->
            <div class="navbar-nav">
                <div class="navbar-brand">
                    {% if user %}
                        {{user.username}}
                    {% else %}
                        Room Manager
                    {% endif %}
                </div>
            </div>

            <!-- right side -->
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                    {% if user.profile.type == 'admin' or user.profile.type == 'user' %}
                        <div class="nav-item">
                            <a href="{% url 'edit_account' %}" class="nav-link">Edit Account</a>
                        </div>
                    {% endif %}
                {% endif %}

                <div class="nav-item">
                    <a href="{% url 'dashboard'%}" class="nav-link">Dashboard</a>
                </div>
        
                <div class="nav-item">
                    <a href="{% url 'logout'%}" class="nav-link">Log Out</a>
                </div>
        
            </div>
        </div>
    </nav>

    <div class="h-85">
        {% block content %}
        {% endblock content %}    
    </div>
</div>
{% endblock body %}