{% extends 'navbar.html' %}
{% load static %}

{% block head%}
    <script src="{% static 'chartjs/Chart.bundle.min.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'chartjs/Chart.min.css' %}" />
    <script src="{% static 'js/statistics/chart.js'%}"></script> <!-- Chartjs wrapper. -->

    {% block statistics-head%}
    {% endblock statistics-head%}
{% endblock%}


{% block content %}
<div class="row h-100 w-100">
    <div class="col-sm-4 col-xl-2 px-4 ml-4">
        <div class="nav flex-column ml-2 position-fixed">
            <div class="mt-5">
                <h4 class="text-black-50 font-weight-bold">Types</h4>
            </div>

             <div  class="nav-item container-fluid">
                <a id="room_utilization" href="{% url 'room_utilization_statistics' %}" class="nav-link text-dark bg-light">Room Utilization</a>
            </div>
            
            <div class="nav-item container-fluid">
                <a id="multi_room_utilization" href="{% url 'multi_room_utilization_statistics' %}" class="nav-link text-dark bg-light">Multi-Room Utilization</a>
            </div>

            <div class="nav-item container-fluid">
                <a id="busiest_hours" href="{% url 'busiest_hours_statistics' %}" class="nav-link text-dark bg-light">Busiest Hours</a>
            </div>

            <div class="nav-item container-fluid">
                <a id="failed_bookings" href="{% url 'failed_bookings_statistics' %}" class="nav-link text-dark bg-light">Failed Bookings</a>
            </div>
        </div>
    </div>

    <div class="content col-sm-7 col-xl-9 mt-5 min-width-900">
        {% block statistics-content %}
        {% endblock statistics-content %}
    </div>
</div>
{% endblock %}